
.container{
   width: 1280px; 
   margin-left: auto;
   margin-right: auto;
}
.header-title{
 color: #000;
 font-size: 80px;
 margin-top: 63px;
 margin-bottom: 1140px;
 text-decoration: none;
}
.title{
    color: #4BCAFF; 
}

/*nav bar*/
.header-title{
display: inline-block;
margin-bottom: 40px;
}
.nav-bar{
  background-color:#35444F; 
  
}
.nav-bar-list{
   display: flex;
   justify-content: center;
   list-style: none;
   margin: 0; 
}
  .nav-bar-item{
    
   border-right: 1px solid #fff;  
   border-left: 1px solid#fff;
  
  }
  .nav-bar-link{
    color: #fff;
font-family: Roboto;
font-size: 24px;
display: flex;
text-decoration: none;
}
.nav-bar-link:hover,
.nav-bar-link:focus{
  background-color: #222f3a;
}


/*aside bar*/
.main-content{
  margin-top: 49px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.aside-bar{
    border: 1px solid #000; 
    width: 344px;  
}
.aside-bar-list{
    display: flex; 
    flex-direction: column; 
  padding-left: 1px;
  margin: 0;
}
.aside-bar-item{
 list-style-type: none;
}
.aside-bar-link{
    color: #495863;
    font-family: Roboto; 
    display: flex; 
    height: 27px; 
    font-size: 27px; 
    line-height: 27px; 
    text-decoration: none;
}
.aside-bar-link:hover,
.aside-bar-link:focus {
  background: #dbdbdb;
  padding-left: 60px;
  color: #000;
}
/* main*/
.container-dscr{
  width: 885px; 
}
.img-container{
  border: 1px solid #000; 
  background: rgba(0, 0, 0, 0.00); 
  display: flex;
  justify-content: center;
  padding: 73px;
  margin-bottom: 37px;
  
}
.img-container:hover .main-photo {
  transform: scale(1.1);
}
.main-photo {
  transition: transform 0.25s;
}
.main-dscr-text {
  text-align: justify;
  color: #2c2c2c;
  font-family: Roboto; 
  font-size: 18px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 14;
  
}
.footer-bar{
  height: 69px; 
  background: rgba(99, 105, 110, 0.48);
margin-bottom: 30px;
padding-left:100px ;

}
.footer-list{
  display:flex;
  color: #0C1927;
font-family: Roboto;
font-size: 28px; 
line-height: 28px; /* 100% */ 
}
.footer-item{
list-style: none;
}
.footer-item-link{
  color: #0C1927;
font-family: Roboto; 
text-decoration: none;
font-size: 28px; 
line-height: 28px; 
}
.footer-item-link:hover,
.footer-item-link:focus {
  color: #3181a6;
}
.footer-copyright{
  margin: 0;
  color: #010101;
  font-size: 24px;
  line-height: 24px; /* 100% */

}